.banking-charts {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px){
  .banking-charts {
    flex-direction: column;
  }
}

@media screen and (min-width: 1201px){
  .banking-charts-col {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .banking-charts-col {
    width: 100%;
  }
}

.banking-charts h1 {
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 1600px) {
  .banking-charts h1 {
    font-size: 2vw;
  }
}