.name-address {
  display: flex;
  align-items: center;
}

.name-id {
  display: flex;
  flex-direction: column;
  padding-inline: 0.75rem;
}

.name-id > h1 {
  font-size: 3rem;
}

.classification-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  margin: 0.25rem;
}

.classification-card,
.financial-card {
  border: 1px solid #e5e7eb;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  /* aspect-ratio: 2.5; */
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 325px;
  justify-content: center;
  /* max-height: 125px; */
}

.classification-card h2 {
  text-decoration: underline;
}

.classification-card p {
  font-size: 1.25rem;
  font-style: normal;
}

.classification-card {
  text-align: center;
}

.financial-card h2 {
  font-size: 1.25rem;
  text-align: center;
  text-decoration: underline;
}

.financial-card p {
  font-size: 2.0rem;
  text-align: center;
}

.classification-card,
.financial-card {
  padding-block: 1rem;
}
